{
  "extends": ["airbnb", "prettier", "prettier/react", "plugin:react/jsx-runtime"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
  }
}

// "eslintConfig": {
//     "extends": [
//       "react-app",
//       "react-app/jest"
//     ]
//   },
