{
  "extends": ["airbnb", "prettier", "plugin:react/jsx-runtime"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0
  },
  "env": {
    "jest": true
  },
  "globals": {
    "document": true
  }
}

// "eslintConfig": {
//     "extends": [
//       "react-app",
//       "react-app/jest"
//     ]
//   },
